logs
*.log
node_modules
node_modules_old
.npm
.env
.DS_Store
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
# Frontity
build
.vercel
.vscode
.safurai
.git
packages/sawtee-theme/node_modules
packages/sawtee-theme/package-lock.json
package-lock.json